.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
body {
  background-image: url(index_background.jpg)
}
h1 {
    text-align: center;
}
p {
    position: relative;
    text-align: center;
    font-weight: bold;
    border-style: outset;
    border-width: thick;
}
p.resume_link {
    left: 20%;
    float: left;
}
p.bio_link {
    right: 20%;
    float: right;
}