.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  float: left;
  margin: 0 1.5%;
}
body {
    background-image: url(index_background.jpg);
    background-size: 100%;
}
h1 {
  text-align: center;
  top: 140px;
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 40px;
  position: relative;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-right: 10%;
}
li {
    font-size: 30px;
    display: block;
    padding: 60px;
    list-style-position: outside;
}
h2 {
  text-align: center;
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-size: 40px;
  position: relative;
}