body {
    letter-spacing: 10px;
  	font-family: "Franklin Gothic Medium", "Trebuchet MS";
    background: url(dark_embroidery.png);
}
#name {
  	position: relative;
  	float: left;
  	margin: 0 1.5%;
  	font-weight: 100;
    font-size: 26px;
    font-style: normal;
    color: white;
    letter-spacing: 13px;
    margin-left: 12%;
    margin-top: 13%;
}
.face {
  	position: relative;
    display: block;
	float: right;
  	width: 300px;
	height: 300px;
	border-radius: 150px;
  	margin-right: 18%;
  	margin-top: 10%;
}
#list {
    font-size: 16px;
    position: relative; 
    float: left;
  	margin: 0 1.5%;
    margin-left: 10%;
}
ul{
  	list-style-type: none;
}
li {
    display: inline;
    padding: 20px;
    list-style-position: outside;
}
a {
    background-color: white;
    border-style: outset;
    border-color: gray;
    border-width: thick;
    text-decoration: none;
    padding: 10px;
}